[submodule "portfolio-text"]
	path = portfolio-text
	url = https://github.com/WeiTanZzz/portfolio-text.git
[submodule "projects/slacktwin/dispatcher"]
	path = projects/slacktwin/dispatcher
	url = https://github.com/SlackTwin/slack-dispatcher.git
[submodule "projects/slacktwin/runtime"]
	path = projects/slacktwin/runtime
	url = https://github.com/SlackTwin/twin-runtime.git
